extends layout
block content
    .w3-container
        .w3-card-4
            header.w3-container.w3-teal
                h3 Lista de Alunos
            .w3-container
                table.w3-table-all
                    tr
                        th Nome
                        th Numero / Identificador
                        th Curso
                        th Git
                    each aluno in lista
                        tr
                            td= aluno.nome
                            td= aluno.numero
                            td= aluno.curso
                            td 
                                a(href='http://github.com/'+aluno.git)= aluno.git
            footer.w3-container.w3-teal
                address Gerado por Gestao de Alunos App
                    a(href='/')  Voltar a pagina principal