doctype html
html
    head
        title Gestao de Alunos
        meta(charset='utf-8')
        link(rel='stylesheet', href='/w3.css')
        script(src='https://unpkg.com/axios/dist/axios.min.js')
        script(src='./apagar.js')
    body
        block content